<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a520.short_circuit" >
    <usese-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icone_aplicacao_"
        android:label="Short Circuit"
        android:theme="@android:style/Theme.NoTitleBar" >
        <activity
            android:name=".MainActivity"
            android:label="Short Circuit"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Atividade2"
            android:label="@string/title_activity_atividade2" >
        </activity>
        <activity
            android:name=".FaseGrid"
            android:label="@string/title_activity_fase_grid" >
        </activity>
        <activity
            android:name=".StartProgram"
            android:label="@string/title_activity_start_program" >
        </activity>
        <activity
            android:name=".ListaDeFases"
            android:label="@string/title_activity_lista_de_fases" >
        </activity>
    </application>

</manifest>
